// Mixins Here

.custom-btn() {
    display: block;
    border: 1px solid @btn-bg-color;
    background:@btn-bg-color;
    color:white;
    font-size: 15px;
    padding:6px 20px 3px 20px;
    border-radius: 4px;
    @media (max-width:500px){
        width:100%;
        height: 60px;
    }
    
  
}

.test(){
    border:1px solid red;
}